body {
      cursor: url(../images/cursor.png), auto;
}

.navbar--container {
      cursor: url(../images/cursor-invert.png), auto;
}

.cursor--link:hover {
      cursor: url(../images/cursor-invert.png), auto;
}