.main--content {
  display: flex;
  flex-basis: 5rem;
  flex: 3;
  justify-content: center;
  align-items: center;
  position: absolute fixed;
}

.popup {
  visibility: hidden;
  padding: 2rem;
  position: absolute;
  z-index: 1;
  flex: 0 0 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
	background-color: rgb(156, 237, 237);
}

.main--game-play {
      background-color: rgb(23, 23, 216);
      padding: 1rem;
}

.popup {
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 5%;
      height: 5%;
      background-color: rgb(212, 137, 6);
      color: rgb(34, 58, 241);
      padding: 2rem;
      position: absolute;
      top: -100%;
      left: 50%;
      z-index: 2;
}
.visible {
  visibility: visible;
  flex: 1;
  position: absolute;
  z-index: 1;
  animation: genie 1.5s;
  transform: scale(1.5, 1.5);
}

@keyframes genie {
  0% {
    opacity: 0;
    transform: scale(.5, .5);
  }
  100% {
    opacity: 1;
    transform: scale(1.5, 1.5);
  }
}