.main--content {
      flex: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
	background-color: rgb(156, 237, 237);
}
.popup {
  visibility: hidden;
  padding: 2rem;
  position: absolute;
  z-index: 1;
  flex: 0 0 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
	background-color: rgb(156, 237, 237);
}

.main--game-play {
      background-color: rgb(0 , 200, 255);
      padding: 2rem;
      border-radius: 1rem;
}

.visible {
  visibility: visible;
  flex: 1;
  position: absolute;
  z-index: 1;
  animation: genie 1.5s;
  transform: scale(1.2, 1.2);
}

@keyframes genie {
  0% {
    opacity: 0;
    transform: scale(.2, .2);
  }
  100% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }
}