.sidebar--leaderboard {
      display: flex;
      align-content: flex-end;
      flex-direction: column;
}

.score--object {
      list-style-type: none;
}

.score--gameID {
      display: none;
}

.score--teamID {
      display: none;
}