.left-container {
      flex: 1 0 3rem;
      display: flex;
      flex-direction: column;
      width: 30%
}

.create-team-form--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: stretch;
  align-content: center;
  align-items: stretch;
  padding: -.5rem .5rem;
  border: 1px black solid;

}

.create-player {
      margin: 10px 0;
      border: 1px black solid;
}

.playerForm {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: stretch;
      align-content: center;
      align-items: stretch;
      padding: -.5rem .5rem;
}

.teamSelectContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: stretch;
  align-content: center;
  align-items: stretch;
  padding: -.5rem .5rem;
  background-color: rgb(10, 33, 161);
  color: goldenrod;
}

