@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import "./left-container.css";
@import "./game.css";
@import "./scoreboard.css";

/*Typography
--------------------------------------------------------------*/

body {
	font-family: fantasy;
	background-color: rgb(118, 228, 228);
	display: flex;
	flex-flow: column;
	align-items: center;
}

main {
	display: flex;
  border: 1px black solid;
  width: 90%;
  height: auto;
  position: relative;
}

::placeholder {
  color: rgba(0, 17, 255, 0.308);
  font-style: italic;
}

input {
  background-color: white;
}

header {
	margin-left: auto;
	margin-right: auto;
}

#logo {
	height: 12rem;
}