@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import "./sidebar.css";

/*Typography
--------------------------------------------------------------*/

* {
	border: 1px dotted hotpink;
}

body {
	font-family: fantasy;
	background-color: rgb(24, 60, 60);
}

.main {
	display: flex;
	flex-direction: row wrap;
}
