@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import "./left-container.css";
@import "./game.css";
@import "./leaderboard.css";

/*Typography
--------------------------------------------------------------*/

body {
	font-family: fantasy;
	background-color: rgb(118, 228, 228);
}

main {
	display: flex;
	flex-direction: row wrap;
}
