.scoreboard {
  margin: 10px 0;
  border: 1px black solid;
  padding: 1rem;
}

.scoreboard-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.scoreboard-team-name {
  width: 11rem;
}

.scoreboard-player-count {
  width: 8rem
}

.scoreboard-score {
  width: 6rem;
}