.sidebar {
      display: flex;
      flex-direction: column;
      width: 30%
}

.main--game-play {
      display: flex;
      width: 70%;
}

.playerForm {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: stretch;
      align-content: center;
      align-items: stretch;
      padding: -.5rem .5rem;
}